

*~
*.iml
*.ipr
*.iws
*.pyc
.nb-gradle
.nb-gradle-properties
.swp
.DS_Store
\#*\#

# Eclipse
.classpath
.project
.settings

bin/
obj/
.vs/
.vscode
.gradle/
.idea/
build/
node_modules/
coverage
.next/
out/
build
next-env.d.ts
vendor/
composer.lock
.venv
.dockerhub.env
.ghcr.env

src/frontend/cypress/videos
src/frontend/cypress/screenshots
src/shippingservice/target/

# Ignore copied/generated protobuf files
/src/cartservice/src/protos/
/src/featureflagservice/proto/
/src/featureflagservice/src/ffs_demo_pb.erl
/src/featureflagservice/src/ffs_service_*.erl
/src/featureflagservice/src/oteldemo_*.erl
/src/frauddetectionservice/src/main/proto
/src/frontend/pb/
/src/frontend/protos/
/src/paymentservice/demo.proto
/src/recommendationservice/demo_pb2*.py
/src/shippingservice/proto/
test/analyze/backup/data.1709578606051.csv
test/analyze/backup/data.1709578606051.json
test/analyze/backup/data.1709578709861.csv
test/analyze/backup/data.1709578709861.json
test/analyze/backup/data.1709578815402.csv
test/analyze/backup/data.1709578815402.json
test/analyze/backup/data.1709578919611.csv
test/analyze/backup/data.1709578919611.json
test/analyze/backup/data.1709579024504.csv
test/analyze/backup/data.1709579024504.json
test/analyze/backup/data.1709579278756.csv
test/analyze/backup/data.1709579278756.json
test/analyze/backup/data.1709579385161.csv
test/analyze/backup/data.1709579385161.json
test/analyze/backup/data.1709579494016.csv
test/analyze/backup/data.1709579494016.json
test/analyze/backup/data.csv
test/analyze/backup-il/data.1709575560973.csv
test/analyze/backup-il/data.1709575560973.json
test/analyze/backup-il/data.1709575748443.csv
test/analyze/backup-il/data.1709575748443.json
test/analyze/backup-il/data.1709575936271.csv
test/analyze/backup-il/data.1709575936271.json
test/analyze/backup-il/data.1709576124672.csv
test/analyze/backup-il/data.1709576124672.json
test/analyze/backup-il/data.1709576310999.csv
test/analyze/backup-il/data.1709576310999.json
test/analyze/backup-il/data.1709576499520.csv
test/analyze/backup-il/data.1709576499520.json
test/analyze/backup-il/data.1709576686881.csv
test/analyze/backup-il/data.1709576686881.json
test/analyze/backup-il/data.1709576873901.csv
test/analyze/backup-il/data.1709576873901.json
test/analyze/backup-il/data.1709577064510.csv
test/analyze/backup-il/data.1709577064510.json
test/analyze/backup-il/data.csv
test/analyze/backup1/data.1708954598330.json
test/analyze/backup1/data.1708954614011.json
test/analyze/backup1/data.1708954697951.json
test/analyze/backup1/data.1708954715009.json
test/analyze/backup1/data.1708954735305.json
test/analyze/backup1/data.1708955676554.json
test/analyze/backup1/data.1708955682306.json
test/analyze/backup1/data.1708956051407.json
test/analyze/backup1/data.1708956263371.json
test/analyze/backup1/data.1708956475573.json
test/analyze/backup1/data.1708956687155.json
test/analyze/backup1/data.1708956899077.json
test/analyze/backup1/data.1708958306758.json
test/analyze/backup1/data.1709138868584.csv
test/analyze/backup1/data.1709138868584.json
test/analyze/backup1/data.1709139080132.csv
test/analyze/backup1/data.1709139080132.json
test/analyze/backup1/data.1709139291747.csv
test/analyze/backup1/data.1709139291747.json
test/analyze/backup1/data.1709139503922.csv
test/analyze/backup1/data.1709139503922.json
test/analyze/backup1/data.1709139715629.csv
test/analyze/backup1/data.1709139715629.json
test/analyze/backup1/tmp/data.1709138868584.csv
test/analyze/backup1/tmp/data.1709139080132.csv
test/analyze/backup1/tmp/data.1709139291747.csv
test/analyze/backup1/tmp/data.1709139503922.csv
test/analyze/backup1/tmp/data.1709139715629.csv
test/analyze/backup2/data.1709483637787.csv
test/analyze/backup2/data.1709483637787.json
test/analyze/backup2/data.1709483859822.csv
test/analyze/backup2/data.1709483859822.json
test/analyze/backup2/data.1709484082098.csv
test/analyze/backup2/data.1709484082098.json
test/analyze/backup2/data.1709484304704.csv
test/analyze/backup2/data.1709484304704.json
test/analyze/backup2/data.1709484526613.csv
test/analyze/backup2/data.1709484526613.json
test/analyze/backup2/data.1709484748945.csv
test/analyze/backup2/data.1709484748945.json
test/analyze/backup2/data.csv
test/analyze/backup_us/data.1709567292798.csv
test/analyze/backup_us/data.1709567292798.json
test/analyze/backup_us/data.1709567648825.csv
test/analyze/backup_us/data.1709567648825.json
test/analyze/backup_us/data.1709568023139.csv
test/analyze/backup_us/data.1709568023139.json
test/analyze/backup_us/data.1709568398946.csv
test/analyze/backup_us/data.1709568398946.json
test/analyze/backup_us/data.1709568783132.csv
test/analyze/backup_us/data.1709568783132.json
test/analyze/backup_us/data.1709569157433.csv
test/analyze/backup_us/data.1709569157433.json
test/analyze/backup_us/data.1709569532837.csv
test/analyze/backup_us/data.1709569532837.json
test/analyze/backup_us/data.1709569913969.csv
test/analyze/backup_us/data.1709569913969.json
test/analyze/backup_us/data.1709570299593.csv
test/analyze/backup_us/data.1709570299593.json
test/analyze/backup_us/data.1709572716325.csv
test/analyze/backup_us/data.1709572716325.json
test/analyze/backup_us/data.1709575200360.json
test/analyze/backup_us/data.csv
restart-ariel.sh
restart-remote-il.sh
restart-remote.sh
restart-service.sh
restart-services-kube.sh